
    @import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Outfit:wght@400;700&family=Overpass:wght@400;700&display=swap');
    
    * {
      margin: 0px;
      padding: 0px;
      border: 0px;
    }

    body {
      width: 100%;
      height: 100%;
      background-color: hsl(216, 12%, 8%);
      font-family:'Overpass', sans-serif;
      position: relative;
      display: flex;
      justify-content: center;
    }

    .square {
      background-color: hsl(215,22%,15%);
      margin: 180px auto;
      width: 372px;
      height: 375px;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
    }

    .img-star img {
      width: 15px;
      border-radius: 50%;
      background-color: hsl(213,19%,18%);
      padding: 15px;
      margin: 25px;
    }

    .img-thankyou img {
      width: 150px;
      height: auto;
    }

    .img-thankyou {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    h1 {
      font-size: 26px;
      font-weight: 400;
      margin: 0px 25px;
      color: white;
    }

    p {
      font-size: 13.5px;
      font-weight: 400;
      margin-top: 6px;
      line-height: 23px;
      margin: 5px 25px;
      color: hsl(217, 12%, 63%);
    }

    .message-rate {
        color: #fb7413;
        margin: 3px 15px;
    }

    .button_selected {
        background-color: hsl(213,19%,18%);
        width: 170px;
        height: 30px;
        margin: 25px auto;
        border-radius: 20px;
    }

    .phrasepg2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-weight: 700;
        margin: 10px;
    }

    .div-buttons {
      margin: 18px 10px;
      display: flex;
      justify-content: space-evenly;
      height: 23px;
    } 

    div.div-buttons button {
      width: 15px;
      border-radius: 70%;
      background-color: hsl(213,19%,18%);
      padding: 23px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      font-size: 15px;
      font-weight: 400;
      font-family:'Overpass', sans-serif;      
    }

    div.div-buttons button:hover {
      background-color: hsl(217, 12%, 63%);
    }

    #submit-button {
      color: white;
      background-color:#fb7413;
      margin: 50px;
      border: none;
      border-radius: 20px;
      width: 310px;
      height: 40px;
      font-family:'Overpass', sans-serif; 
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 2px;
    }

    #submit-button:hover {
      color: hsl(25, 97%, 53%);
      background-color: white;
    }

    .div-submit-button{
      margin: -20px;
    }

    .thanks {
      visibility: hidden;
      margin: auto;
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .rate {
      margin: auto;
      position: absolute;
      width: 100%;
      height: 100%;
    }
   
